.header {
    background-color: #2C323C;
    color: whitesmoke;
    min-height: 320px;
    padding: 140px 20px;
    padding-bottom: 0px;

    text-align: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
}